.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {display:none;}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-custom {
  width: 70%;
  height: 50px;
  background: linear-gradient(90.01deg, #E39024 -5.18%, #E91035 99.99%);
  border-radius: 100px;
}

.center-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.center-text {
  font-size: 22px;
  font-weight: 700;

}

.room-title {
  display: inline-block;
  height: 35px;
  background: #E91E63 ;
  border-radius: 45px;
}

.dot {
  height: 37px;
  width: 37px;
  background-color: #BF360D ;
  border-radius: 50%;
  display: inline-block;
  text-align: center;

  border: 2px solid #8941EA;
	border-radius: '28px'
}

.dot-nb {
  height: 20px;
  width: 20px;
  background-color: #F86968 ;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

/* **************** For User ************************ */
.dot_status{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

/* ************************************************** */

.dot-dotted {
  height: 37px;
  width: 37px;
  border-radius: 50%;
  display: inline-block;

  border: 3px dotted #FFF;
	border-radius: '28px'
}

/* *********** Scrooling horizontal **************** */
.horizontal_slider {
  display: block;
  width: 100%;
  overflow-x: scroll;
  padding: 25px 0px;
  box-sizing: border-box;
}


.slider_container {
  display: block;
  white-space: nowrap;
}

.item {
  display: inline-block;
  margin-right: 30px;
}

.item-friend{
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 13px;
}
/* ******************* Scrooling Vertical ***************** */

.vertical_slider {
  display: block;
  width: 100%;
  overflow-y: scroll;
  padding: 25px 0px;
  box-sizing: border-box;
}
/* ******************************************************* */

/* ******************* Material Form *********************** */

/* .MaterialForm {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.MaterialForm > form {
  display: flex;
  flex-direction: column;
  background-color: #282948;
  padding: 32px;
  min-width: 350px;
  border-radius: 8px;
  margin: 32px;
} */

/* *******************  Form Login Simple *************************** */

/* .enter-username-form{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.enter-username-form > input{
      display: inline-block;
      width: 300px;
      height: 35px;
      margin-bottom: 10px;
      color: #333;
      padding: 5px 10px;
      font-size: 1rem;
}

 .enter-username-form > input > placeholder{
  color: #ccc;
  font-size: .9rem;
}

.enter-username-form > button{
      color: white;
      font-weight: 300;
      font-size: 1rem;
      padding: 7px 35px;
} 

/* ========================= For Match lives =========================================== */
.red_dot{
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  background:red;
}

/* ============================== Make it Golbale !!! =================================== */
.truncate-typo {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-typo:hover {
  overflow: visible;
}